In [1]:
use "..\Data\cleaned_cps"

replace experience =round(experience,1)
gen fulltime_fullyear = fulltime*fullyear // focus on full time full year workers

/* replace wages with missing values for non fulltime full year workers or bottom weekly wages */ 
replace weekly_wage  = . if !fulltime_fullyear | weekly_wage_less_than_sixtyseven

(1,893,739 real changes made)


(1,231,785 real changes made, 1,231,785 to missing)

In [2]:
/* Generate real weekly wages again */
summarize pce if inlist(year, 2001), meanonly // 2001 survey year = 2000 pce year
scalar pce2000=r(mean)
scalar list pce2000

gen real_wage = (pce2000/pce) * weekly_wage
sum real_wage

   pce2000 =     78.235

(1,655,747 missing values generated)


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
   real_wage |  2,733,272    724.2206    588.4449   110.4579   10107.46

In [3]:
/* We create weights */
gen n_obs = 1
label variable n_obs "Number of observations"

gen n_weight = asecwt
label variable n_weight "Earnings weight"

gen n_labor_supply_weight = asecwt*wkswork1
label variable n_labor_supply_weight "Earnings weight times weeks last year"

gen n_labor_supply_hourly_weight = asecwt*wkswork1*weekly_hours_workedly
label variable n_labor_supply_hourly_weight "Earnings weight times weeks last year times hours last year"


/* We assign weights for missing values of weekly wages */
gen m_obs = 1
replace m_obs = 0 if weekly_wage  == . | allocated_earnings == 1 | selfemployed==1
label variable m_obs "Number of FTFY obs with non-missing earnings"

gen m_weight = asecwt
replace m_weight = 0  if weekly_wage  == . | allocated_earnings == 1 | selfemployed==1
label variable m_weight "Earnings weight for FTFY obs with non-missing earnings"

gen m_labor_supply_weight = asecwt*wkswork1
replace m_labor_supply_weight = 0 if weekly_wage  == . | allocated_earnings == 1 | selfemployed==1
label variable m_labor_supply_weight "Earnings weight times weeks last year for FTFY obs with non-missing earnings"

(2,082,384 real changes made)



(2,082,317 real changes made)



(2,082,317 real changes made)

In [4]:
save precollapse, replace

(note: file precollapse.dta not found)
file precollapse.dta saved

In [5]:
collapse (sum) n_obs n_weight n_labor_supply_weight n_labor_supply_hourly_weight m_obs m_weight m_labor_supply_weight, by(year schooling experience female)
sort year schooling experience female

In [6]:
save aftercollapse, replace

(note: file aftercollapse.dta not found)
file aftercollapse.dta saved

In [7]:
use precollapse

In [8]:
collapse (mean) real_wage weekly_wage [aweight=m_weight], by(year schooling experience female)
sort year schooling experience female

In [9]:
merge m:1 year schooling experience female using "../Relative Supply/aftercollapse", keep(match) nogenerate
sum
save aftercollapse_merged, replace

    Result                           # of obs.
    -----------------------------------------
    not matched                             0
    matched                            26,264
    -----------------------------------------


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        year |     26,264    1991.762     16.4486       1964       2020
      female |     26,264    .4982866    .5000066          0          1
  experience |     26,264    22.78552     13.7232          0         58
   schooling |     26,264    2.877056    1.417441          1          5
   real_wage |     26,264     717.161    357.1733   115.8597   5898.612
-------------+---------------------------------------------------------
 weekly_wage |     26,264    593.1871     485.493    28.2335   7769.038
       n_obs |     26,264    167.0871    144.5288          1       2021
    n_weight |     26,264    265790.1    222565.3     726.23    2696058
n~ply_weight |     26,264    1.20e+07     9107980   33217.04   8.82e+07
n~rly_weight |     26,264    4.84e+08    3.54e+08    1109666   2.28e+09
-------------+---------------------------------------------------------
       m_obs |     26,264    87.82497    67.72411          1        402
    m_weight |     26,264    140194.9    106265.2     396.02   636440.1
m_labor_su~t |     26,264     7188169     5454747   20593.04   3.23e+07

(note: file aftercollapse_merged.dta not found)
file aftercollapse_merged.dta saved

In [10]:
keep if experience>=0 & experience<=39

gen experience_cat = 1
replace experience_cat = 2 if experience>=10 & experience<=19
replace experience_cat = 3 if experience>=20 & experience<=29
replace experience_cat = 4 if experience>=30 & experience<=39

(3,484 observations deleted)


(5,696 real changes made)

(5,700 real changes made)

(5,693 real changes made)

In [11]:
egen basewage = max(real_wage*(female==0)*(schooling==2)*(experience==10)), by(year) // yearly wage of H.S graduate with 10 yrs experience
tab year, sum(basewage)
gen normalized_wage = (real_wage/basewage)
tab year, sum(normalized_wage)
egen cell_efficieny_unit=mean(normalized_wage), by(schooling female experience) 
tab year, sum(cell_efficieny_unit)

            |         Summary of basewage
survey year |        Mean   Std. Dev.       Freq.
------------+------------------------------------
       1964 |   518.85175           0         393
       1965 |   548.75403           0         395
       1966 |   563.52856           0         399
       1967 |   597.06323           0         396
       1968 |   601.66254           0         399
       1969 |   597.23743           0         400
       1970 |   641.94122           0         400
       1971 |   633.20251           0         400
       1972 |   654.49268           0         400
       1973 |    672.4082           0         400
       1974 |   677.25848           0         400
       1975 |   679.01947           0         400
       1976 |   626.73419           0         400
       1977 |   638.47723           0         400
       1978 |   658.44513           0         400
       1979 |   682.68701           0         399
       1980 |   644.20642           0         400
       1981 |    639.0827           0         400
       1982 |   615.37805           0         400
       1983 |   634.19531           0         400
       1984 |   633.22192           0         400
       1985 |   598.67993           0         400
       1986 |   626.43774           0         400
       1987 |   574.16876           0         399
       1988 |   592.08148           0         400
       1989 |   589.49951           0         400
       1990 |   561.75665           0         400
       1991 |   568.69049           0         400
       1992 |   557.86554           0         400
       1993 |   528.20093           0         400
       1994 |   550.60071           0         400
       1995 |   538.39203           0         400
       1996 |   523.28448           0         400
       1997 |   565.89069           0         400
       1998 |   579.61676           0         400
       1999 |   575.45502           0         400
       2000 |   577.22925           0         400
       2001 |   584.22998           0         400
       2002 |   584.87347           0         400
       2003 |   629.63025           0         400
       2004 |   576.08502           0         400
       2005 |   584.61737           0         400
       2006 |   567.78387           0         400
       2007 |    584.5249           0         400
       2008 |    657.0282           0         400
       2009 |   547.07037           0         400
       2010 |   650.95526           0         400
       2011 |   603.89911           0         400
       2012 |   602.38281           0         400
       2013 |   530.20618           0         400
       2014 |   565.38947           0         400
       2015 |   541.29175           0         400
       2016 |   709.63708           0         400
       2017 |   588.52484           0         400
       2018 |   585.92737           0         400
       2019 |   631.52728           0         400
       2020 |   562.07166           0         400
------------+------------------------------------
      Total |   599.21667   44.786538      22,780



            |     Summary of normalized_wage
survey year |        Mean   Std. Dev.       Freq.
------------+------------------------------------
       1964 |   1.0432496   .44380245         393
       1965 |   1.0216394   .41158505         395
       1966 |   1.0284483   .43058588         399
       1967 |   .99090484   .42258021         396
       1968 |   1.0196193   .44114451         399
       1969 |   1.0593412   .43592121         400
       1970 |   1.0274246   .43709194         400
       1971 |   1.0586477   .44592565         400
       1972 |   1.0332386   .43739903         400
       1973 |   1.0335372   .44037708         400
       1974 |   1.0339488   .44359894         400
       1975 |   .98697852   .42308962         400
       1976 |   1.0573342   .44609047         400
       1977 |   1.0543067     .446984         400
       1978 |   1.0197212   .43761852         400
       1979 |   .98526734   .40647562         399
       1980 |    1.058802   .44065493         400
       1981 |    1.045376    .4349764         400
       1982 |   1.0674351   .45082426         400
       1983 |   1.0545361    .4503674         400
       1984 |    1.059403   .45289479         400
       1985 |   1.1368662   .49937484         400
       1986 |   1.1065256   .48757374         400
       1987 |   1.2259603   .54223769         399
       1988 |   1.2007947   .52015549         400
       1989 |   1.2103322    .5128065         400
       1990 |   1.2815226   .57821584         400
       1991 |   1.2427676    .5551322         400
       1992 |   1.2597536    .5716527         400
       1993 |   1.3346484   .60240948         400
       1994 |   1.2893529   .59619806         400
       1995 |   1.3379349    .6375414         400
       1996 |   1.3783278   .67039546         400
       1997 |   1.2848129   .60909361         400
       1998 |   1.2707877   .60196385         400
       1999 |    1.338147     .653106         400
       2000 |   1.3815807   .69352976         400
       2001 |   1.3739792   .66775714         400
       2002 |   1.3829506   .66953593         400
       2003 |    1.306091   .64368029         400
       2004 |   1.4302331   .71112798         400
       2005 |   1.4011219   .70127165         400
       2006 |   1.4425202    .7412351         400
       2007 |   1.4111093   .71756062         400
       2008 |   1.2438048   .61873749         400
       2009 |   1.4962189   .77860095         400
       2010 |   1.2715285   .65875988         400
       2011 |   1.3535981   .71760748         400
       2012 |   1.3607563    .7212691         400
       2013 |   1.5407891   .82557772         400
       2014 |      1.4292   .76264757         400
       2015 |    1.516224   .79832827         400
       2016 |    1.189044   .62168106         400
       2017 |   1.4683651   .76073844         400
       2018 |   1.4860487   .77071951         400
       2019 |   1.3840541   .72340581         400
       2020 |   1.6342817   .85232844         400
------------+------------------------------------
      Total |   1.2307218    .6179884      22,780



            |   Summary of cell_efficieny_unit
survey year |        Mean   Std. Dev.       Freq.
------------+------------------------------------
       1964 |   1.2255498   .55703176         393
       1965 |   1.2293183   .55471253         395
       1966 |   1.2304873   .55437935         399
       1967 |   1.2291228   .55591071         396
       1968 |   1.2295808   .55377461         399
       1969 |   1.2309558   .55376348         400
       1970 |   1.2309558   .55376348         400
       1971 |   1.2309558   .55376348         400
       1972 |   1.2309558   .55376348         400
       1973 |   1.2309558   .55376348         400
       1974 |   1.2309558   .55376348         400
       1975 |   1.2309558   .55376348         400
       1976 |   1.2309558   .55376348         400
       1977 |   1.2309558   .55376348         400
       1978 |   1.2309558   .55376348         400
       1979 |   1.2295808   .55377461         399
       1980 |   1.2309558   .55376348         400
       1981 |   1.2309558   .55376348         400
       1982 |   1.2309558   .55376348         400
       1983 |   1.2309558   .55376348         400
       1984 |   1.2309558   .55376348         400
       1985 |   1.2309558   .55376348         400
       1986 |   1.2309558   .55376348         400
       1987 |   1.2295808   .55377461         399
       1988 |   1.2309558   .55376348         400
       1989 |   1.2309558   .55376348         400
       1990 |   1.2309558   .55376348         400
       1991 |   1.2309558   .55376348         400
       1992 |   1.2309558   .55376348         400
       1993 |   1.2309558   .55376348         400
       1994 |   1.2309558   .55376348         400
       1995 |   1.2309558   .55376348         400
       1996 |   1.2309558   .55376348         400
       1997 |   1.2309558   .55376348         400
       1998 |   1.2309558   .55376348         400
       1999 |   1.2309558   .55376348         400
       2000 |   1.2309558   .55376348         400

       2001 |   1.2309558   .55376348         400
       2002 |   1.2309558   .55376348         400
       2003 |   1.2309558   .55376348         400
       2004 |   1.2309558   .55376348         400
       2005 |   1.2309558   .55376348         400
       2006 |   1.2309558   .55376348         400
       2007 |   1.2309558   .55376348         400
       2008 |   1.2309558   .55376348         400
       2009 |   1.2309558   .55376348         400
       2010 |   1.2309558   .55376348         400
       2011 |   1.2309558   .55376348         400
       2012 |   1.2309558   .55376348         400
       2013 |   1.2309558   .55376348         400
       2014 |   1.2309558   .55376348         400
       2015 |   1.2309558   .55376348         400
       2016 |   1.2309558   .55376348         400
       2017 |   1.2309558   .55376348         400
       2018 |   1.2309558   .55376348         400
       2019 |   1.2309558   .55376348         400
       2020 |   1.2309558   .55376348         400
------------+------------------------------------
      Total |   1.2307218    .5532046      22,780

In [12]:
egen tot_efficiency_unit_weighted = sum(cell_efficieny_unit*n_labor_supply_hourly_weight),by(year)
gen efficiency_unit_weighted=((cell_efficieny_unit)*(n_labor_supply_hourly_weight)/tot_efficiency_unit_weighted)

egen college_supply = sum(efficiency_unit_weighted*((schooling==4 | schooling==5) + 0.5*(schooling ==3))),by(year)

gen college_hs_supply=ln(college_supply/(1-college_supply))

In [13]:
table year, c(mean college_hs_supply)

--------------------------
survey    |
year      | mean(colleg~y)
----------+---------------
     1964 |      -.7918856
     1965 |      -.7444239
     1966 |      -.7511503
     1967 |      -.7342879
     1968 |       -.671908
     1969 |      -.6682243
     1970 |       -.624491
     1971 |      -.5646536
     1972 |      -.5354807
     1973 |      -.4951653
     1974 |      -.4356841
     1975 |      -.3676135
     1976 |      -.3160161
     1977 |      -.2845219
     1978 |       -.261696
     1979 |      -.2226935
     1980 |      -.1967725
     1981 |      -.1667217
     1982 |      -.1223423
     1983 |      -.0274082
     1984 |      -.0050444
     1985 |      -.0067089
     1986 |      -.0000794
     1987 |       .0218796
     1988 |       .0257907
     1989 |       .0646573
     1990 |       .0632647
     1991 |       .0729961
     1992 |       .0975208
     1993 |       .1473078
     1994 |       .1690533
     1995 |        .199798
     1996 |       .1895386
     1997 |       .1929807
     1998 |       .2156981
     1999 |         .24091
     2000 |       .2628757
     2001 |       .2781467
     2002 |       .3046859
     2003 |       .3285099
     2004 |        .340631
     2005 |       .3288069
     2006 |       .3446975
     2007 |       .3704082
     2008 |        .411653
     2009 |       .4314104
     2010 |       .4694762
     2011 |       .5147974
     2012 |       .5224043
     2013 |       .5492826
     2014 |       .5515066
     2015 |       .5684371
     2016 |       .5954205
     2017 |       .6132153
     2018 |         .65252
     2019 |       .6747852
     2020 |         .73231
--------------------------

In [16]:
collapse college_hs_supply, by(year)
save "../Data/relative_supply", replace